@import "./color_schemes/dark";

.main-content {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0a0a0a !important;
}
.search-input {
  background-color: #0a0a0a !important;
}
.main-header {
  background-color: #0a0a0a !important;
  // border-bottom: 1px solid #44434d;
}
.side-bar {
  background-color: #161618 !important;
}