.main-content {
    font-size: 1.5rem;
}
body {
    font-family: 'Roboto', -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif;
    font-size: inherit;
    line-height: 1.4;
    color: #e6e1e8;
    overflow-wrap: break-word;
}
